@import 'tailwindcss';

:root {
  --background: #fbfbfc;
  --foreground: #171717;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: bolder;
  margin-bottom: clamp(2rem, 8vw, 9rem);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


